:root{
    margin:none;
    padding:none;
    border:none;
}
.container{
    background-color:rgb(134, 180, 180);
    height:150px;
    width:auto;
    display:flex;
}
.container2{
    background-color:rgb(137, 193, 193);
    height:390px;
    width:auto;
    display:flex;
 
}
h1{
    color:red;
    padding-bottom:0;
}
.logo{
    margin-left:100px;
    margin-top:45px;
    background-color:transparent;
    height:50px;
    width:197px;
    font-size:30px;
    display:flex;
    justify-content:center;
    background-color:aqua;
    z-index:1;
    
}
.span{
    color:rgb(245, 245, 152);
}
ul {
    font-size:15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    margin-left:700px;
    margin-top:40px;
    
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  .text-part{
    width:526px;
    height:242px;
    margin-left:100px;
    padding-top:0px;
    font-size:25px;
    padding-left:40px;
  }
  .img-part{
    width:526px;
    height:242px;
    padding-left:200px;
    padding-top:45px;
    
  }
  .img{
    width:526px;
    height:242px;
    border-radius:25px;
  }
  button{
    width:130px;
    height:40px;
    background-color:aqua;
    border-radius:25px;
  }
  a{
    text-decoration:none;
    color:inherit;
  }
  .cta{
    position:relative;
    margin:auto;
    padding:19px 22px;
    transition: all .2s ease;
    
    
  }
  button:hover{
    color:red;
    cursor:pointer;
    
  }
